name: Release artifact
on:
  release:
    types: [published]

permissions:
  actions: read
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false
          submodules: recursive

      - name: Parse plugin name from Directory.Build.props
        id: plugin-name
        uses: mavrosxristoforos/get-xml-info@afaa5058ead44cfaff92c6a861b46dd7a8929f60 # 2.0
        with:
          xml-file: 'Directory.Build.props'
          xpath: '//PluginName'

      - name: Download latest artifact
        uses: dawidd6/action-download-artifact@5c98f0b039f36ef966fdb7dfa9779262785ecb05 # v14
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: ci.yml
          name: ${{ steps.plugin-name.outputs.info }}
          check_artifacts: true
          skip_unpack: true

      - name: Attach artifact to release assets
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2
        with:
          overwrite: true
          file: ${{ steps.plugin-name.outputs.info }}.zip
